<div class="jumbotron center">
	<h1>About us</h1>
	<p>The idea came from an experience in a school. People donate a lot of books to their school which is a good thing. But the problem is they got books which they don't need. It's a primary school but they received a lot teaching material for middle school and high school. So we came up with an idea that create an website that can help both donator and donee. Our website can match them up and make sure that people who want to donate their book can give it to people who really need it.</p>
</div>