<div id="fh5co-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= t('about us'); %></h2>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <p>
          <img src="images/school.jpg" alt="Kimi's School" class="img-rounded img-responsive"></p>

        <p><%= t('about detail'); %></p>



      </div>


    </div>
  </div>
</div>