<div id="fh5co-main">
  <div class="container">

    <div class="row">

      <% if user_signed_in? %>
        <%= link_to (t 'nb'), new_book_path, class: "btn btn‐primary btn‐lg" %>
      <% else %>
        <%= link_to "#{t 'login'}", new_user_session_path, class: "btn btn‐primary btn‐lg" %>
    <% end %>

    </div>

    <div class="row">

      <div id="fh5co-board" data-columns>

        <% @books.each do |book| %>
          <%= render book %>
        <% end %>

      </div>

    </div>
  </div>
</div>