<div id="fh5co-offcanvass">
  <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
  <h1 class="fh5co-logo"><a class="navbar-brand" href="/home">Book Donation</a></h1>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/features.html"><%= t('wd') %></a></li>
    <li><a href="/contact.html">Contact</a></li>
    <% if current_user.present?%>
      <li><a href="/profile.html">Profile</a></li>
      <li><%= link_to "#{t 'logout'}", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "#{t 'login'}", new_user_session_path %></li>
    <% end %>

  </ul>
  <!--<h3 class="fh5co-lead">Connect with us</h3>-->
  <!--<p class="fh5co-social-icons">-->
    <!--<a href="#"><i class="icon-twitter"></i></a>-->
    <!--<a href="#"><i class="icon-facebook"></i></a>-->
    <!--<a href="#"><i class="icon-instagram"></i></a>-->
    <!--<a href="#"><i class="icon-dribbble"></i></a>-->
    <!--<a href="#"><i class="icon-youtube"></i></a>-->
  <!--</p>-->
</div>

<header id="fh5co-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
        <a class="navbar-brand" href="/home">Book Donation</a>
      </div>
    </div>
  </div>
</header>
